/* COLOR PALETTE
text: #15151B

debut: #5DA271
fearless: #FFE381
speak now: #41337A
red: #9D1111
1989: #88D9E6
reputation: #1E2A31
lover: #FFA5B0
folklore: #59656F
evermore: #775B59
midnights: #050947

array of colors: ["#5DA271", "#88D9E6", "#41337A", "#775B59", "#9D1111", "#050947", "#59656F", "#FFA5B0", "#1E2A31", "#FFE381"]
*/




body {
    font-family: 'Lato', sans-serif;
    background-color: #f7f7f7;
    text-align: center;
}

h1 {
    font-weight: 100;
    margin-top: 50px;
}

h2 {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 40px;
}

.container-fluid {
    padding-right: 30px;
    padding-left: 30px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.browser text {
    text-anchor: end;
}

.area {
    opacity: 0.7;
    clip-path: url(#clip);
}

.area:hover {
    opacity: 1;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.row .justify-content-center1 {
    height: 15vh;
}

.row .justify-content-center2 {
    height: 60vh;
}

.align-self-center {
    width: 100%;
    height: 100%;
}

.heading-box {
    border: thick solid pink;
    border-radius: 5px;
    background: rgba(194, 228, 232, 0.45);
    margin-top: 5vh;
}

body {
    background-color: #e5d6c3; /* Cream color */
}

.title {
    font-family: Georgia;
    font-size: 24px;
}

#globe-vis {
    height: 71vh;
    width: 100%
}

#map-vis {
    height: 400px;
    width:400px;
}

#ny-vis {
    width: 100%;
    height: 600px;
}
