/* COLOR PALETTE
dark gray background: #1e1d1d
text: #ffffff

** PRIMARY COLORS (for backgrounds etc) **
warm orange: #db6b5c
medium orange: #e99469
pale cream orange: #f6c193

debut: #93d8a7
fearless: #ecd27d
speak now: #856fd2
red: #cc2a2a
1989: #88D9E6
reputation: #434343
lover: #FFA5B0
folklore: #9d9d9d
evermore: #9e7967
midnights: #1e29d4

BROAD COLOR PALETTE OF PURPLES, PINKS, ORANGES, BLUES, AND GREENS
COPY-PASTE INTO A JS FILE AND SEE SWATCHES OF ALL OF THE HEX CODES TO MAKE IT EASY!
const taylorColors = [
            "#FF8C94", "#FFE5E2", "#D4A5A5", "#FFD3B5", "#FFB6C1", "#FFDAB9", "#DAA520",
            "#F0E68C", "#FFE4E1", "#F08080", "#FF6347", "#CD5C5C", "#FF69B4", "#9370DB",
            "#DDA0DD", "#FFB6C1", "#FFA07A", "#FFD700", "#FAEBD7", "#F5F5DC", "#FFE4B5",
            "#FFF8DC", "#8B4513", "#D2B48C", "#C71585", "#A52A2A", "#CD853F", "#D2691E",
            "#F5DEB3", "#FFA07A", "#8A2BE2", "#FF4500", "#FF6347", "#FF1493", "#FFD700",
            "#FF8C00", "#8B008B", "#800080", "#4B0082", "#8B0000", "#B22222", "#DC143C",
            "#DB7093", "#800000", "#A52A2A", "#D3A1D9", "#FFD9EC", "#FFC0CB", "#FF7F9E", "#FF6B8B",
            "#FF5252", "#E43977", "#FFB7C5", "#FF769F", "#FF5A77",
            "#FF2B50", "#FA336C", "#FFABC9", "#E63980", "#FF668F",
            "#FF4E6E", "#FF0040", "#B3E0F2", "#9AD8EA", "#81D0E2", "#68C8DA", "#4FC0D2",
            "#36B8CA", "#1DADC2", "#0CA3BA", "#0092A7", "#007C8F",
            "#B7E1CD", "#A3D8C0", "#8FD0B3", "#7AC8A6", "#66C099",
            "#52B88C", "#3EA17E", "#2E8F6B", "#217B59", "#1A6747"
        ];
*/

/* General CSS */

body, html {
    font-family: 'Century Gothic', sans-serif;
    background-color: #1e1d1d;
    font-size: 20px;
    text-align: left;
    margin: 0;
    padding: 0;
    height: 100%;
    color: white;
/*     need overflow-x: hidden; in order to get rid of the horizontal scroll but it just stops all vis from showing up */
}

.container {
    height: 100vh;
    width: 100vw;
    overflow-y: auto; /* enable scrolling within the containers if content overflows */
    overflow-x: hidden;
}

h1 {
    font-weight: bold;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 40px;
    font-size: 60px;
    color: #FFA5B0;
}

h2 {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 40px;
}

/*svg {*/
/*    max-width: 100%; !* Make sure the SVG is responsive *!*/
/*    height: auto;*/
/*}*/

.container-fluid {
    padding-right: 30px;
    padding-left: 30px;
}

.flex-col {
    display: flex;
    justify-content: center;
}

.left {
    align-items: flex-start;
    padding-right: 10%;
}

.right {
    align-items: flex-end;
    padding-left: 10%;
}

.text-box {
    font-size: 26px;
    box-sizing: border-box;
    width: 50%;
    background: #FF8C94FF;
    margin: 12vh 0;
    padding: 30px;
    border-radius: 20px;
}

.larger-text {
    font-size: 38px;
    color: white;
}

.plain-text {
    font-size: 21px;
    padding: 25px 100px 25px 50px;
    color: white;
}

.plain-text-box {
    box-sizing: border-box;
    width: 80%;
    background: #FF8C94FF;
    margin: 10px 50px;
    padding: 30px;
    border-radius: 20px;
}

.lyric-text {
    position: absolute;
    box-sizing: border-box;
    width: 30%;
    margin: 10px 0 0 50px;
    background: #FFB6C1FF;
    padding: 30px;
    border-radius: 10px;
    z-index: 1000;
}

.doodle-albums {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}


/* Introduction/Landing Page */

#landing-bg {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

#landing-bg img {
    width: 100vw;
    height: auto;
}

#title-swift {
    font-size: 100px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 47%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #FFA5B0;
}

#title-soundscape {
    font-size: 24px;
    position: absolute;
    top: 72%;
    left: 48%;
    transform: translate(-50%, -50%);
    color: #9d9d9d;
    padding: 20px;
    z-index: 1;
}

#scroll-img {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    height: 10vh;
    z-index: 1;
    opacity: 0;
    transition: opacity 1.2s ease;
}

.intro {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    margin-top: 20px;
}


/*!* Introduction/Landing Page *!*/

/*#landing-bg {*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*    height: 100vh;*/
/*}*/

/*#landing-bg img {*/
/*    width: 100vw;*/
/*    height: auto;*/
/*}*/

/*#title-swift {*/
/*    font-size: 160px;*/
/*    font-weight: bold;*/
/*    position: relative;*/
/*    padding-left: 75px;*/
/*    top: -825px;*/
/*}*/

/*#title-soundscape {*/
/*    font-size: 120px;*/
/*    position: relative;*/
/*    padding-left: 180px;*/
/*    padding-bottom: 25px;*/
/*    top: -900px;*/
/*    background-color: #15151B;*/
/*}*/

/*#scroll-img {*/
/*    position: absolute;*/
/*    bottom: -10px;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*    height: 20vh;*/
/*    z-index: 1;*/
/*    opacity: 0;*/
/*    transition: opacity 1.2s ease;*/
/*}*/


/* Taylor Swift At Large Visualization */

#at-large {
    height: 80vh;
    width: 100%;
}

#timeline-placeholder {
    height: 450px;
    padding: 50px;
}


/* Lyric Themes Visualization */

#lyric-themes {
    height: auto;
    width: 100%;
}

#theme-count-vis {
    height: 100vh;
    width: 100%;
}


/* Places Taylor Likes to Sing About Visualization */

#places {
    height: 260vh;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

#ny-vis {
    width: 100%;
    height: 600px;
}

#london-vis {
    width: 100%;
    height: 600px;
}

#ny-place {
    margin-bottom: 40px;
}

#london-place {
    margin-bottom: 40px;
}

.marker-with-border {
    border: 2px solid #000;
}

.leaflet-popup-content {
    font-family: 'Century Gothic', 'sans-serif';
}

.spacer {
    height: 30px;
}


/* Times Taylor Likes To Sing About Visualization */

#times {
    height: 80vh;
    width: 100%;
}


/* Tour Visualization */

#tour {
    height: 280vh;
    width: 100%;
}

#globe-vis {
    height: 71vh;
    width: 100%
}

#map-vis {
    height: 700px;
    width:100%;
}

#tour-legend {
    /*margin-left: 50px;*/
    margin-top: 50px;
}

#tour-country-info {
    margin-top: 50px;
}

#filter-container {
    font-size: 14px;
    margin-top: 50px;
    margin-left: 50px;
}

.tooltip {
    position: absolute;
    visibility: visible;
    background-color: white;
    color: #1e1d1d;
    font-family: 'Century Gothic', 'sans-serif';
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}


/* Radial Chart Visualization */

#radial {
    height: 100%;
    width: 100%;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.browser text {
    text-anchor: end;
}

.area {
    opacity: 0.7;
    clip-path: url(#clip);
}

.area:hover {
    opacity: 1;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.row .justify-content-center1 {
    height: 15vh;
}

.row .justify-content-center2 {
    height: 60vh;
}

.align-self-center {
    width: 100%;
    height: 100%;
}

.heading-box {
    border: thick solid pink;
    border-radius: 5px;
    background: rgba(194, 228, 232, 0.45);
    margin-top: 5vh;
}

.title {
    font-family: 'Century Gothic', 'sans-serif';
    font-size: 24px;
}

/*body {*/
/*    font-family:'Futura','Helvetica',sans-serif;*/
/*    box-sizing:border-box;*/
/*    -webkit-box-sizing:border-box;*/
/*}*/

.wrapper {
    width:100%;
    position:relative;
}

section {width:100%; float:left;height:auto; text-align:center;}
p,h2 {padding:0;margin:0;}
section#graph {
    min-height: 100%;
    text-align: center;
    border:1px #FFF solid;
    background-color:#1D5679;
}

.chart-tooltip {
    line-height: 1.5;
    visibility: hidden;
    width: auto;
    text-align:left;
    padding: 10px 20px;
    font-size:140%;
    position: absolute;
    background-color:rgba(0,0,0,0.55);
    pointer-events: none;
    z-index: 1060;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
.chart-tooltip span {
    text-align:right;float:right;}
.slider .handle , .slider .line {position:absolute;}

.slider .handle {
    background-image:url("https://github.com/goeuro/static_content/blob/master/web/Design/ball_indicator.svg");
    width:40px;
    height:40px;
    background-color:red;
    z-index:9999999;
    position:fixed;
}

.axis path,
.axis line {
    fill: none;
    stroke: #A4CFDD;
    stroke-width: 2;
    shape-rendering: crispEdges;
}
.x.axis line {display:none;}
.x.axis text {fill:#FFF;}
/*#92C7E2;}*/
#line1 , #line2{
    width: 100%;
    margin: 0px 0;
    height:280px;
    color:white;
    font-size:10px;
    position:relative;
    float:left;
    z-index:999999;
}

#line1 {overflow-y:visible; height:470px;}
#line1 path, .cube .graph path {
    stroke-width: 2;
    fill:transparent;
    z-index:99999;
}

g.tick {
    fill:#FFF;
}


.moves {
    will-change: transform;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
}

#line1 svg#travel-chart {
    position:absolute;
    left:0;
    overflow:visible;
    height: 80vh;
}


.transline {
    stroke-dasharray:2000px;
    stroke-dashoffset: 2000px;
    animation: draw 12s ease-in-out forwards;
    -webkit-animation: draw 8s ease-in-out forwards;
}

@keyframes draw {
    to {
        stroke-dasharray:3000px;
        stroke-dashoffset: 100px;
    }
}

/*SLIDER*/
.axis {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.domain {
    fill: none;
    stroke: #eeecec;
    stroke-opacity: .3;
    stroke-width: 10px;
    stroke-linecap: round;
}


.days li {float:left; display:inline;margin:0 0.5% 0 0;}

/*end slider*/

.transportStats {
    display:inline-block;width:100%;
    color:#2B84B7;
}

.transportStats li {
    background-size:100%;
    cursor:pointer;
    z-index:999999;
    display:inline;
    float: left;
    width: 25%;
    color: #FFF;
}


.transpicked {
    fill:rgba(255,255,255,0.77)!important;
    background-color: rgba(238, 241, 243, 0.4) !important;
}

.transportStats .icon {width:30px;height:30px;background-size:30px; display:inline-block; margin-right:10px;vertical-align: middle;}


span[data="Taylor-Swift"] {background-image:url("https://github.com/goeuro/static_content/blob/master/web/Design/bus-icon.svg");  /*border-right:1px white solid;*/}
span[data="train"] {background-image:url("https://github.com/goeuro/static_content/blob/master/web/Design/train-icon.svg");}
span[data="plane"] {background-image:url("https://github.com/goeuro/static_content/blob/master/web/Design/plane-icon.svg");}
span[data="car"] {background-image:url("https://github.com/goeuro/static_content/blob/master/web/Design/car-icon.svg");/* border-left:1px white solid;*/}

.transline#Morgan-Wallen, .textMorganWallen {
    stroke: #FFE4E1;
    color: #FFE4E1;
    stroke-width: 1.5; /* Updated stroke width */
    opacity: 0.3;
}

.transline#SZA, .textSZA {
    stroke: #FFD3B5;
    color: #FFD3B5;
    stroke-width: 1.5; /* Updated stroke width */
    opacity: 0.3;
}

.transline#Taylor-Swift, .textTaylorSwift {
    stroke: #FFD700; /* Bright color for Taylor Swift */
    color: #FFD700;
    stroke-width: 3; /* Updated stroke width for Taylor Swift */
    opacity: 0.8; /* Higher opacity */
}

.transline#Drake, .textDrake {
    stroke: #F08080;
    color: #F08080;
    stroke-width: 1.5; /* Updated stroke width */
    opacity: 0.3;
}

.transline#Luke-Combs, .textLukeCombs {
    stroke: #FF6347;
    color: #FF6347;
    stroke-width: 1.5; /* Updated stroke width */
    opacity: 0.3;
}

.transline#Miley-Cyrus, .textMileyCyrus {
    stroke: #DAA520;
    color: #DAA520;
    stroke-width: 1.5; /* Updated stroke width */
    opacity: 0.3;
}

.transline#Zach-Bryan, .textZachBryan {
    stroke: #FAEBD7;
    color: #FAEBD7;
    stroke-width: 1.5; /* Updated stroke width */
    opacity: 0.3;
}

.transline#Savage, .textSavage {
    stroke: #FFB6C1;
    color: #FFB6C1;
    stroke-width: 1.5; /* Updated stroke width */
    opacity: 0.3;
}

.transline#Weeknd, .textWeeknd {
    stroke: #DDA0DD;
    color: #DDA0DD;
    stroke-width: 1.5; /* Updated stroke width */
    opacity: 0.3;
}

.transline#Bailey-Zimmerman, .textBaileyZimmerman {
    stroke: #FFE4B5;
    color: #FFE4B5;
    stroke-width: 1.5; /* Updated stroke width */
    opacity: 0.3;
}

.transline#Olivia-Rodrigo, .textOliviaRodrigo {
    stroke: #FFF8DC;
    color: #FFF8DC;
    stroke-width: 1.5; /* Updated stroke width */
    opacity: 0.3;
}

.transline#Travis-Scott, .textTravisScott {
    stroke: #8A2BE2;
    color: #8A2BE2;
    stroke-width: 1.5; /* Updated stroke width */
    opacity: 0.3;
}

.transline#Ice-Spice, .textIceSpice {
    stroke: #F5F5DC;
    color: #F5F5DC;
    stroke-width: 1.5; /* Updated stroke width */
    opacity: 0.3;
}

.transline#Lil-Uzi-Vert, .textLilUziVert {
    stroke: #A52A2A;
    color: #A52A2A;
    stroke-width: 1.5; /* Updated stroke width */
    opacity: 0.3;
}

.transline#Chris-Brown, .textChrisBrown {
    stroke: #B22222;
    color: #B22222;
    stroke-width: 1.5; /* Updated stroke width */
    opacity: 0.3;
}

.transline#Post-Malone, .textPostMalone {
    stroke: #DC143C;
    color: #DC143C;
    stroke-width: 1.5; /* Updated stroke width */
    opacity: 0.3;
}

.transline#Nicki-Minaj, .textNickiMinaj {
    stroke: #FF69B4;
    color: #FF69B4;
    stroke-width: 1.5; /* Updated stroke width */
    opacity: 0.3;
}

.transline#Jelly-Roll, .textJellyRoll {
    stroke: #A52A2A;
    color: #A52A2A;
    stroke-width: 1.5; /* Updated stroke width */
    opacity: 0.3;
}




#at-large {
    width: 100%; /* or a specific value like 800px */
}

.selected-line {
    opacity: 5; /* Adjust the stroke width as needed */
}

#grammy-vis {
    width: 700px;
    height: 700px;
}