/* COLOR PALETTE
text: #15151B

debut: #5DA271
fearless: #FFE381
speak now: #41337A
red: #9D1111
1989: #88D9E6
reputation: #191919
lover: #FFA5B0
folklore: #59656F
evermore: #775B59
midnights: #050947

array of colors: ["#5DA271", "#88D9E6", "#41337A", "#775B59", "#9D1111", "#050947", "#59656F", "#FFA5B0", "#191919", "#FFE381"]
*/

/* General CSS */

body, html {
    font-family: 'Century Gothic', sans-serif;
    background-color: #f7f7f7;
    font-size: 30px;
    text-align: left;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    height: 100vh;
    width: 100%;
    overflow: auto; /* enable scrolling within the containers if content overflows */
}

h1 {
    font-weight: bold;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 42px;
    color: #FFA5B0;
}

h2 {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 40px;
}

.container-fluid {
    padding-right: 30px;
    padding-left: 30px;
}

.flex-col {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    /*height: 100vh;*/
}

.left {
    align-items: flex-start;
    padding-right: 10%;
}

.right {
    align-items: flex-end;
    padding-left: 10%;
}

.text-box {
    box-sizing: border-box;
    width: 90%;
    background: #FFA5B0;
    border-radius: 2px;
    margin: 12vh 0;
    padding: 30px;
    border-radius: 20px;
}

.larger-text {
    font-size: 38px;
    font-weight: bold;
}

.plain-text {
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}


/* Introduction/Landing Page */

#landing-bg {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

#landing-bg img {
    width: 100vw;
    height: auto;
}

#title-swift {
    font-size: 160px;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #15151B;
}

#title-soundscape {
    font-size: 120px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #15151B;
    padding: 20px;
    z-index: 1;
}

#scroll-img {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    height: 10vh;
    z-index: 1;
    opacity: 0;
    transition: opacity 1.2s ease;
}

.intro {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    margin-top: 20px;
}


/*!* Introduction/Landing Page *!*/

/*#landing-bg {*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*    height: 100vh;*/
/*}*/

/*#landing-bg img {*/
/*    width: 100vw;*/
/*    height: auto;*/
/*}*/

/*#title-swift {*/
/*    font-size: 160px;*/
/*    font-weight: bold;*/
/*    position: relative;*/
/*    padding-left: 75px;*/
/*    top: -825px;*/
/*}*/

/*#title-soundscape {*/
/*    font-size: 120px;*/
/*    position: relative;*/
/*    padding-left: 180px;*/
/*    padding-bottom: 25px;*/
/*    top: -900px;*/
/*    background-color: #15151B;*/
/*}*/

/*#scroll-img {*/
/*    position: absolute;*/
/*    bottom: -10px;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*    height: 20vh;*/
/*    z-index: 1;*/
/*    opacity: 0;*/
/*    transition: opacity 1.2s ease;*/
/*}*/


/* Taylor Swift At Large Visualization */

#at-large {
    height: 80vh;
    width: 100%;
}

#timeline-placeholder {
    height: 450px;
    padding: 50px;
}


/* Lyric Themes Visualization */

#lyric-themes {
    height: 150vh;
    width: 100%;
}

#theme-count-vis {
    height: 900px;
    width: 100%;
}


/* Places Taylor Likes to Sing About Visualization */

#places {
    height: 120vh;
    width: 100%;
}

#ny-vis {
    width: 100%;
    height: 600px;
}


/* Times Taylor Likes To Sing About Visualization */

#times {
    height: 80vh;
    width: 100%;
}


/* Tour Visualization */

#tour {
    height: 140vh;
    width: 100%;
}

#globe-vis {
    height: 71vh;
    width: 100%
}

#map-vis {
    height: 400px;
    width:400px;
}


/* Radial Chart Visualization */

#radial {
    height: 100%;
    width: 100%;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.browser text {
    text-anchor: end;
}

.area {
    opacity: 0.7;
    clip-path: url(#clip);
}

.area:hover {
    opacity: 1;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.row .justify-content-center1 {
    height: 15vh;
}

.row .justify-content-center2 {
    height: 60vh;
}

.align-self-center {
    width: 100%;
    height: 100%;
}

.heading-box {
    border: thick solid pink;
    border-radius: 5px;
    background: rgba(194, 228, 232, 0.45);
    margin-top: 5vh;
}

.title {
    font-family: 'Century Gothic', 'sans-serif';
    font-size: 24px;
}
